.incoming-purchases-section-container {
    width: 75%;
    margin: auto;
}

.incoming-purchases-section-header-container {
    text-align: center;
}

.incoming-purchases-item-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .incoming-purchases-item-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .incoming-purchases-section-container {
        width: 100%;
        margin: auto;
        padding: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .incoming-purchases-item-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .incoming-purchases-section-container {
        width: 100%;
        margin: auto;
        padding: 15px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .incoming-purchases-item-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .incoming-purchases-section-container {
        width: 75%;
        margin: auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .incoming-purchases-item-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }

    .incoming-purchases-section-container {
        width: 75%;
        margin: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .incoming-purchases-item-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }

    .incoming-purchases-section-container {
        width: 75%;
        margin: auto;
    }
}