.register-container {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    height: 83vh;
}

.register-header-container {
    text-align: center;
    margin-bottom: 30px;

}

.register-header {
    font-weight: 700;
    background-color: salmon;
    padding: 10px;
    border-radius: 20px;
}

.register-form {
    margin-top: 20px;
    margin-bottom: 10px;
}

.register-form-and-text-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    border-radius: 10px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .register-container {
        width: 100%;
        margin: auto;
        margin-top: 30px;
        height: 83vh;
        padding: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .register-container {
        width: 100%;
        margin: auto;
        margin-top: 30px;
        height: 83vh;
        padding: 15px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .register-container {
        width: 50%;
        margin: auto;
        margin-top: 30px;
        height: 83vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .register-container {
        width: 25%;
        margin: auto;
        margin-top: 30px;
        height: 83vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .register-container {
        width: 25%;
        margin: auto;
        margin-top: 30px;
        height: 83vh;
    }
}