.outgoing-orders-section-container {
    width: 75%;
    margin: auto;
}

.outgoing-orders-section-header-container {
    text-align: center;
}

.outgoing-orders-item-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}