.manage-inventory-section-container {
    width: 75%;
    margin: auto;
}

.manage-inventory-item-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.manage-inventory-section-header-container {
    text-align: center;
}

.add-new-item-button-container {
    text-align: center;
}