.qa {
    width: 75%;
    margin: auto;
    height: 89vh;
}

.qaheadercon {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.qaheader {
    font-weight: 700;
    background-color: salmon;
    padding: 10px;
    border-radius: 20px;
}

.ans {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 20px;
}